@charset "UTF-8";

@media screen and (max-width: 600px){
    #facename{
        width: 40%;
    }
    #anilogo{
        width: 20%;
        
    }
    header{
        width: 130vw;
        transform: rotate(4deg)
    }
}

@media screen and (min-width: 1200px){
    #facename{
        width: 30%;
        margin-left: -4vw;
    }
    #anilogo{
        margin-bottom: 1vw;
        margin-top: 4vw;
        margin-left: -3vw;
        width: 30%;
    }
    header{
        transform: rotate(-6deg)
    }
}